version: "2.2"
services:
    consul1:
      build:
        context: ./consul
      container_name: 'consul1'
      environment:
      - 'CONSUL_LOCAL_CONFIG={"datacenter":"cat-service"}'
      command: 'agent -server -bootstrap-expect=3 -ui -client=0.0.0.0 -node=consul1 -log-level=debug'
      ports:
        - '8300:8300'
        - '8301:8301'
        - '8302:8302'
        - '8400:8400'
        - '8500:8500'
        - '8600:53/udp'
      networks:
        - docker-consul

    consul2:
      build:
        context: ./consul
      container_name: 'consul2'
      environment:
      - 'CONSUL_LOCAL_CONFIG={"datacenter":"cat-service"}'
      command: 'agent -server -retry-join consul1 -node=consul2 -log-level=debug'
      depends_on:
        - consul1
      networks:
        - docker-consul

    consul3:
      build:
        context: ./consul
      container_name: 'consul3'
      environment:
      - 'CONSUL_LOCAL_CONFIG={"datacenter":"cat-service"}'
      command: 'agent -server -retry-join consul1 -node=consul3 -log-level=debug'
      depends_on:
        - consul1
      networks:
        - docker-consul

    webserver:
      build: ./webserver
      scale: 3
      ports:
        - "80"
        - "9100"
      depends_on:
        - loadbalancer
      networks:
        - docker-consul

    loadbalancer:
      build:
        context: ./loadbalancer
      ports:
        - "80:80"
        - "9145:9145"
        - "9100"
      volumes:
        - "./loadbalancer/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf"
        - "./loadbalancer/nginx_proxy.conf:/etc/consul-template/config.d/templates/nginx.conf"
        - "./loadbalancer/prometheus.conf:/etc/nginx/conf.d/prometheus.conf"
        - "./loadbalancer/start.sh:/start.sh"
        - "/data/nginx/cache"
      depends_on:
        - consul1
      networks:
        - docker-consul

    prometheus:
      image: prom/prometheus
      volumes:
        - "./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
        - "./prometheus/alerts.yml:/etc/prometheus/alerts.yml"
      ports:
        - "9090:9090"
      depends_on:
        - loadbalancer
      networks:
        - docker-consul

    grafana:
      build:
        context: ./grafana
      ports:
        - "3000:3000"
      depends_on:
        - loadbalancer
      networks:
        - docker-consul
      volumes:
       - ./grafana:/var/lib/grafana

    alertmanager:
      image: prom/alertmanager:v0.12.0
      ports:
        - "9093:9093"
      depends_on:
        - loadbalancer
      volumes:
        - ./alertmanager/:/etc/alertmanager/
      restart: always
      command:
        - '-config.file=/etc/alertmanager/alertmanager.yml'
        - '-storage.path=/alertmanager'
      networks:
        - docker-consul

    mailhog:
      image: mailhog/mailhog
      ports:
        - "1025:1025"
        - "8025:8025"
      depends_on:
              - loadbalancer
      networks:
        - docker-consul

networks:
  docker-consul:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
