version: "2"
services:
    consul1:
      build:
        context: ./consul
      container_name: 'consul1'
      environment:
      - 'CONSUL_LOCAL_CONFIG={"datacenter":"cat-service"}'
      command: 'agent -server -bootstrap-expect=3 -ui -client=0.0.0.0 -node=consul1 -log-level=debug'
      ports:
        - '8300:8300'
        - '8301:8301'
        - '8302:8302'
        - '8400:8400'
        - '8500:8500'
        - '8600:53/udp'
      networks:
        - docker-consul

    consul2:
      build:
        context: ./consul
      container_name: 'consul2'
      environment:
      - 'CONSUL_LOCAL_CONFIG={"datacenter":"cat-service"}'
      command: 'agent -server -retry-join consul1 -node=consul2 -log-level=debug'
      depends_on:
        - consul1
      networks:
        - docker-consul

    consul3:
      build:
        context: ./consul
      container_name: 'consul3'
      environment:
      - 'CONSUL_LOCAL_CONFIG={"datacenter":"cat-service"}'
      command: 'agent -server -retry-join consul1 -node=consul3 -log-level=debug'
      depends_on:
        - consul1
      networks:
        - docker-consul

    webserver:
      build: ./webserver
      ports:
        - "80"
      depends_on:
        - consul1
      networks:
        - docker-consul

    loadbalancer:
      build:
        context: ./loadbalancer
      ports:
        - "80:80"
      depends_on:
        - consul1
      networks:
        - docker-consul

networks:
  docker-consul:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
