groups:
- name: Cat Service
  rules:

  - alert: Node down
    expr: up{job="webserver"} == 0
    for: 3m
    labels:
      severity: warning
    annotations:
      summary: "Node {{ $labels.instance }} is down"
      description: "Failed to scrape {{ $labels.job }} on {{ $labels.instance }} for more than 3 minutes. Node seems down."